on:
  push:
    branches:
      - "**"

name: Build
env:
  GO_VERSION: 1.17

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: ${{env.GO_VERSION}}

      - name: Vet
        run: make vet

      - name: Test
        run: make test

      - name: Build
        run: make


  format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: ${{env.GO_VERSION}}

      - run: go fmt ./...

      - name: Verify No Differences after format
        run: test -z "$(git diff)"
